
<header>
     <img src="{{site.baseurl}}/assets/img/jo.logo.jpg" width:50%>
     
    <nav id="dsk-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <nav id="mob-nav">
    <i class="fas fa-bars"></i>
  </nav>
  </header>  
  
  <div class="mobile-nav-container">
  <aside id="mobile-nav-window">
   <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
      </ul>
   </aside>
   </div>
