body, ul {
    margin:100;
    font-family: 'Questrial';
}

.page {
    width: 400px;
}

.copy {
  margin: 50px;  
  
}

h1 {
    text-align: left;
    margin: 50px;
    
 

  .port-container {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
  }
  
  .grid-container{
  position: relative;
  }
  
 
  .image {
    display: inline;
    /* width: 500;
    height: auto; */
    margin: 10px;
  }

  .overlay {
    position: absolute;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: peachpuff;
  }
  
  .grid-container:hover .overlay {
    opacity: .75; }

