header{
    height:150px;
    background-color:white;
    color:black;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
  }
  
  header > nav > ul > li {
    text-decoration:none;
    list-style-type:none;
    display:inline;
    /* width:100px; */
  
    padding:50px;
    line-height:75px;
    
  } 
  
  header > nav > ul > li > a {
    display:inline-block;
    color:black;
    text-decoration:none;
    width:100px;
    text-align:center;
    
  } 
  
  header > nav > ul > li > a:hover {
    display:inline-block;
    color:black;
    text-decoration:underline;
    background-color:peachpuff;
    width:100px;
    text-align:center;
  } 
  
  
  .logo {
    flex-grow:1;
  }
      .fas, .fa-bars {
      color:black;
      margin-top:25px;
      margin-right:25px;
      display:none;
    }
  
  
  .mobile-nav-container {
    position:relative;
    background-color:white;
    width:100%;
    top:-250px;
    z-index:-1;
  }
  
  .mobile-nav-window-active {
    background-color:white;
    width:100%;
    z-index:0;
    top:0 !important;
  }
  
  
  
  .mobile-nav-container > aside > ul {
  margin:0;
    padding:0px;
  }
  
  .mobile-nav-container > aside > ul >li {
    margin:0;
    padding:0px;
    
  }
  
  .mobile-nav-container > aside > ul > li > a {
      display: inline-block;
      color: black;
      height: 55px;
      padding: 10px;
      line-height: 50px;
      text-decoration: none;
  }
  
  .mobile-nav-container > aside > ul > li  > a:hover {
    color:black;
    text-decoration:none;
    display:block;
    background-color:peachpuff;
  }
  
  
  /* Content styles here */
  
  .main-copy {
      padding: 25px;
      display:flex;
      justify-content: space-around;
      flex-flow: row wrap;
      
  }
  /* 
  /* Slick Slider item styles */
  .hero-class {
      min-height:300px;
  }

  #mob-nav {
    display:none;
  }
  
  .mobile-nav-container {
    display:none;
  }
  @media screen and (max-width: 947px) {
    #dsk-nav{
      display:none;
    }
    .mobile-nav-container {
      display:none;
    }
    #mob-nav {
      position:relative;
      display:block;
    }
        .fas, .fa-bars {
      color:black;
      margin-top:25px;
      margin-right:25px;
      display:block;
    }
  }
