---
layout: default
---

<main>
    <section class="main-copy">

             <div class="port-container">
                   <div class="grid-container">
                       <img src="img/shinola_mural2.jpg" width="100%" alt="" class="image">
                            <div class="overlay">
                                 <div class="text"><h1>Jaime Ofner</h1>
                    <p class="copy">
                        Jaime Ofner utilizes her fine arts background and industrial experience when designing for her clients. 
                    Ofner completed her BFA at Western University in London, ON in 2016 where she focused on a variety of printmaking methods.
                    Soon after graduating she moved to Toronto where she experienced screen printing at an industrial scale.
                    Her experience working with machines allow her to design with the end result in mind. She is currently based in Windsor where she is completing her Graphic Design 
                    Diploma at St. Clair College. Ofner is currently employed as an inhouse graphic designer for a hydroponic greenhouse in 
                    Kingsville, ON.  
                    </p>
                            </div>  
                            </div>
            </div>
                    </div>
<div class="page">
    
{% for post in site.posts %}
    {% if post.tags contains "nola" or "NOLA" %}
    <img src="{{site.baseurl}}/assets/img/{{post.image}}">
{% endif %}
  
    
    
{% endfor %}
    
</div>
